#about-section {
     .tag {
          white-space: nowrap;
          margin-top: 3px;
     }

     .about-us-text-wrap {
          display: grid;
          grid-template-columns: auto auto;

          img {
               grid-column: 1 / 3;
               width: 100%;
               transition: all 0.3s ease;
               margin-top: var(--g40);
               filter: blur(5px);
               opacity: .7;
               border-radius: 1px;
          }

          img.revealed {
               filter: blur(0);
               opacity: 1;
          }

          p, span {
               font-size: 15px;
               font-variation-settings: 'wght' 630;
               line-height: 1.55;
          }

          .first {
               max-width: 437px;
               justify-self: start;
          }

          .second {
               max-width: 410px;
               justify-self: end;
          }

          .reveal-text-dark,
          .reveal-text-grey {
               color: #E6E6E6;
               filter: blur(3px);
               transition: all 0.26s ease;
          }

          .reveal-text-dark.revealed {
               filter: blur(0px);
               color: var(--t900);
          }

          .reveal-text-grey.revealed {
               filter: blur(0px);
               color: var(--t6B6B6B);
          }
     }
}


/*  */

:root {
     --t900: #030303;
     --t292929: #292929;
     --t6B6B6B: #6B6B6B;
     --t424242: #424242;
     --t7E7E7E: #7E7E7E;
     --t919191: #919191;
}

.g152 {
     gap: var(--g152);
}