#about-section {
     span {
          margin-top: 4px;
     }
     .about-us-text-wrap {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          img {
               grid-column: 1 / 3;
               width: 100%;
               transition: all 0.3s ease;
               margin-top: var(--g40);
               filter: blur(5px);
               opacity: .7;
               border-radius: 1px;
          }

          img.revealed {
               filter: blur(0);
               opacity: 1;
          }

          p, span {
               font-size: 15px;
               letter-spacing: .005em;
               font-variation-settings: 'wght' 630;
               line-height: 1.55;
          }

          .grey span {
               font-variation-settings: 'wght' 600 !important;
          }

          .first {
               max-width: 465px;
               justify-self: start;
          }

          .second {
               max-width: 431px;
               justify-self: end;
          }

          .reveal-text-dark,
          .reveal-text-grey {
               color: #E6E6E6;
               filter: blur(4px);
               transition: all 0.22s ease;
          }

          .reveal-text-dark.revealed {
               filter: blur(0px);
               color: #080808;
          }

          .reveal-text-grey.revealed {
               filter: blur(0px);
               color: #757575;
          }
     }
}

@media (max-width: 1440px) {
     #about-section {
          justify-content: space-between;
          gap: 0 !important;

          .about-us-text-wrap {
               grid-template-columns: 434px 406px;

               column-gap: var(--g28);

               p, span {
                    font-size: 14px;
               }

               .grey span {
                    font-variation-settings: 'wght' 600 !important;
               }

               .first {
                    max-width: 434px;
               }

               .second {
                    max-width: 406px;
                    justify-self: end;
               }

               .reveal-text-dark,
               .reveal-text-grey {
                    color: #E6E6E6;
                    filter: blur(4px);
                    transition: all 0.22s ease;
               }

               .reveal-text-dark.revealed {
                    filter: blur(0px);
                    color: #080808;
               }

               .reveal-text-grey.revealed {
                    filter: blur(0px);
                    color: #757575;
               }
          }

          @media (max-width: 1340px) {
                    .about-us-text-wrap {
                         grid-template-columns: 419px 391px;
                         p, span {
                              font-size: 13.5px;
                         }
                    }
          }
     }

     @media (max-width: 1140px) {
          #about-section {
               flex-direction: column;
               gap: var(--g28) !important;

               .about-us-text-wrap {
                    grid-template-columns: 1fr 1fr;

                    .p, span {
                         font-size: 14px;
                         letter-spacing: .01em;
                    }

                    .first {
                         max-width: 454px;
                    }

                    .second {
                         max-width: 425px;
                    }
               }
          }
     }
}

@media (max-width: 1040px) {
     #about-section {
          .about-us-text-wrap {
               p, span {
                    font-size: 14.5px;
               }

               .first {
                    max-width: 366px;
               }

               .second {
                    max-width: 361px;
               }
          }

          @media (max-width: 911px) {
               .about-us-text-wrap {
                    p, span {
                         font-size: 13px;
                    }

                    .first {
                         max-width: 328px;
                    }

                    .second {
                         max-width: 324px;
                    }
               }
          }
     }
}

@media (max-width: 769px) {
     #about-section {
          .about-us-text-wrap {
               grid-template-columns: 1fr !important;

               .no-tablet {
                    display: block !important;
               }

               .tablet {
                    display: none !important;
               }

               img {
                    grid-column: 1 / 2;
               }

               .first, .second {
                    max-width: none;
               }

               p, span {
                    font-size: 14.5px;
               }

               .second {
                    margin-top: var(--g14);
               }
          }
     }

}

@media (max-width: 490px) {
     #about-section {
          .about-us-text-wrap {
               .no-tablet {
                    display: none !important;
               }

               .tablet {
                    display: block !important;
               }

               p, span {
                    font-size: 13px;
               }

               img {
                    width: 100%;
                    aspect-ratio: 28 / 20;
               }
          }
     }
}

