#chatbot-container {
     position: fixed;
     left: var(--g32);
     z-index: 10;
     bottom: var(--g32);
     height: 34px;
     width: 34px;
     border-radius: 50px;
     background-color: #171717;

     svg {
          height: 26px;
          width: 26px;
          fill: white;
     }
}

/*  */

.j-c {
     justify-content: center;
}
.chat-orb {
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.chat-orb svg {
  width: 40px;
  height: 40px;
  display: block;
}