/* OPTION 1 */

#chatbot-container {
     transition:
          width .58s cubic-bezier(0.28, 0.95, 0.38, 1),
          height .58s cubic-bezier(0.28, 0.95, 0.38, 1);
}

#chatbot-container .background {
     transition:
          border-radius .42s cubic-bezier(0.28, 0.95, 0.38, 1),
          left .58s cubic-bezier(0.28, 0.95, 0.38, 1),
          bottom .58s cubic-bezier(0.28, 0.95, 0.38, 1),
          top .58s cubic-bezier(0.28, 0.95, 0.38, 1),
          right .58s cubic-bezier(0.28, 0.95, 0.38, 1);
}
/*  */

#chatbot-container {
     position: fixed;
     height: 36px;
     width: 36px;
     /* overflow: hidden; */
     cursor: pointer;
     aspect-ratio: 1;
     z-index: 120;
     left: var(--g24);
     align-items: start;
     justify-content: end;

     bottom: var(--g24);

     * {
          position: relative;
          z-index: 3;
     }

     .background {
          position: absolute;
          z-index: 1;
          border-radius: 18px;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: #171717;
     }

     .input-container {
          height: 36px;
          width: 36px;
          position: relative;
          z-index: 2;
          color: white;

          .chat-orb {
               height: 36px;
               width: 36px;
               min-width: 36px;

               svg {
                    width: 28px;
                    height: 28px;
               }
          }
     }

     .tab-wrap {
          width: 36px;
          padding-bottom: var(--g16);

          .tab {
               font-size: 11.5px;
               color: #666666;
               font-variation-settings: 'wght' 550;
               white-space: nowrap;
          }

          .tab.active {
               color: white;
          }
     }

     .video-wrap,
     .tab-wrap {
          padding: 4px;
     }

     .chat-wrap {
          transition: inherit;
          width: 36px;
     }

     .video-wrap {
          position: relative;
          transition: inherit;
          flex: 1;
          
          video {
               position: absolute;
               left: 0;
               top: 0;
               height: 100%;
               width: 100%;
          }

          .cover {
               background: linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.1) 9%, rgba(23, 23, 23, 0.1) 72%, #171717 93%);
               position: absolute;
          }
     }

     .input-container {
          input {
               padding: 0 10px;
               font-size: 12.5px;
               transform: translateY(-1px);
               font-variation-settings: 'wght' 520;
               color: #848484;
          }
     }
}

/*  */

#chatbot-container.open {
     height: 500px;
     width: 400px;

     .background {
          border-radius: 10px;
          left: calc((var(--g16) * -1) + 4px);
          right: calc((var(--g16) * -1) + 4px);
          top: calc((var(--g16) * -1) + 4px);
          bottom: calc((var(--g16) * -1) + 8px);
     }

     .video-wrap {
          width: 400px;
     }
}

/*  */

.j-c {
     justify-content: center;
}

input {
     background-color: transparent;
     outline: none;
     border: none;
}