#cta {
     text-align: center;

     p, span {
          font-size: 19px;
          font-variation-settings: 'wght' 550;
          line-height: 1.3;
     }

     p {
          color: var(--t9);
          margin-bottom: 3px;
     }

     span {
          color: var(--t3);
          font-variation-settings: 'wght' 500;
     }

     .cta-cursor {
          font-variation-settings: 'wght' 200;
          width: 0px;
          margin-left: -2px;
     }

     a {
          margin-top: var(--g20);
          font-size: 11.5px;
          font-variation-settings: 'wght' 550;
          color: var(--t3);
          margin-bottom: var(--g52);
          background-color: #F2F2F2;
          padding: 8px 10px;
     }

     a:hover {
          background-color: #EBEBEB;
          color: var(--t6);
     }
}

@media (max-width: 1380px) {
   #cta {
          p, span {
               font-size: 17px;
          }

          p {
               margin-bottom: 3px;
          }

          .cta-cursor {
               margin-left: -1px;
          }

          a {
               font-size: 11px;
          }
     }
}

@media (max-width: 1052px) {
    #cta {
          p, span {
               font-size: 18px;
          }

          p {
               margin-bottom: 3px;
          }

          .cta-cursor {
               margin-left: -1px;
          }

          a {
               font-size: 11.5px;
          }
     }
} 

@media (max-width: 768px) {
     #cta {
          p, span {
               font-size: 16px;
          }

          a {
               font-size: 11px;
          }
     }
} 

@media (max-width: 540px) {

     #cta {
          p, span {
               font-size: 15.,5px;
          }

          p {
               margin-bottom: 4px;
          }

          a {
               margin-top: var(--g24);
               font-size: 10.5px;
               padding: 7px 9px;
          }
     }
} 

/*  */

.j-c {
     justify-content: center;
}

.a-c {
     align-items: center;
}