main {

     .block {
          display: grid;
          grid-template-columns: 1fr auto auto;
          grid-template-rows: repeat(3, auto);
          row-gap: var(--g20);
          margin-top: var(--g52);
          column-gap: var(--g16);
          
          .pulse {
               font-size: 0.781rem;
               color: var(--t7E7E7E);

               .jetbrains {
                    font-variation-settings: 'wght' 550;
               }
          }

          h1 {
               font-size: 1.625rem;
               letter-spacing: -.005em;
               grid-row: 2 / 4;
               font-family: 'Suisse';
               color: var(--t900);
               line-height: 1.25;
          }

          a {
               grid-row: 3 / 4;
          }

          .arrow-button {
               margin-top: 1px;
          }
     }

     .img-wrap {
          position: relative;
          aspect-ratio: 19 / 7;

          .play-button {
               background-color: rgba(61, 61, 61, 0.3);
               width: 64px;
               aspect-ratio: 1;
               border-radius: 50px;
               position: relative;

               svg {
                    transform: translateY(1px) translateX(3px);
               }
          }

          img {
               position: absolute;
               filter: brightness(80%);
          }
     }

     .logos-block {
          span {
               font-size: .781rem;
               color: var(--t6B6B6B);
               line-height: 1.5;
          }

          svg {
               height: 17px;
               opacity: .3;
          }
     }
}


