#services-section {
     z-index: 0;
     position: relative;
     overflow: hidden;
     padding: var(--g100);

     .top,
     .bottom {
          position: relative;;
     }

     .tag {
          color: #D8C8C5;
          margin-top: 3px;
     }

     .heading {
          color: white;
          font-variation-settings: 'wght' 650;
          line-height: 1.42;
          max-width: 415px;
          font-size: 15px;
     }

     .background {
          overflow: hidden;
          z-index: 0;
          position: fixed;
     }

     .block {
          background-image: repeating-linear-gradient(
               90deg,
               rgba(255, 255, 255, 0.7) 0px,
               rgba(255, 255, 255, 0.7) 6px,
               transparent 6px,
               transparent 9px
          );
          background-size: 100% 1px;
          background-repeat: no-repeat;
          width: 100%;
          background-position: top;
          padding-top: var(--g22);

          .group-h {
               color: #DFD4D1;
               font-variation-settings: 'wght' 700;
               font-size: 15px;
          }

          ul {

               p {
                    color: #DDC5C5;
                    line-height: 1.1;
                    margin-bottom: var(--g4);
                    font-size: 12px;
                    font-variation-settings: 'wght' 650;
               }

               li {
                    margin-right: auto;
                    color: white;
                    font-size: 13px;
                    font-variation-settings: 'wght' 600;
               }
          }

          .wrap {
               width: 415px;
          }
          .wrap > :last-child {
               width: 155px;
          }
     }
}

@media (max-width: 1350px) {
     #services-section {
          .heading {
               max-width: 389px;
               font-size: 14px;
          }

          .block {
               .group-h {
                    font-size: 14px;
               }

               ul {

                    p {
                         font-size: 11.5px;
                    }

                    li {
                         font-size: 12.5px;
                    }
               }

               .wrap {
                    width: 389px;
               }
               .wrap > :last-child {
                    width: 149px;
               }
          }
     }
}

@media (max-width: 1028px) {
     #services-section {
          .heading {
               max-width: 361px;
               font-size: 13px;
          }

          .block {
               .group-h {
                    font-size: 14px;
               }

               ul {

                    p {
                         font-size: 11.5px;
                    }

                    li {
                         font-size: 12.5px;
                    }
               }

               .wrap {
                    width: 361px;
               }
               .wrap > :last-child {
                    width: 149px;
               }
          }
     }
}

@media (max-width: 720px) {
     #services-section {
          .top {
               flex-direction: column;
               gap: var(--g16);
               
          }

          .heading {
               font-size: 13px;
               max-width: none;
               width: 100%;
          }

          .block {
               .group-h {
                    font-size: 13px;
               }

               ul {

                    p {
                         font-size: 11px;
                    }

                    li {
                         font-size: 12px;
                         letter-spacing: -0.01em;
                    }
               }

               .wrap {
                    width: auto;
                    gap: var(--g40);
               }
               .wrap > :last-child {
                    width: 141px;
               }
          }
     }
}

@media (max-width: 490px) {
     .mobile-below {
          display: block !important;
     }

     #services-section {
          .top {
               flex-direction: column;
               gap: var(--g16);
               
          }

          .heading {
               font-size: 13px;
               line-height: 1.55;
               max-width: none;
               width: 100%;
          }

          .block {
               .group-h {
                    font-size: 12px;
               }

               ul.mobile-below {
                    width: 152px !important;
                    display: flex !important;

                    p {
                         font-size: 11px;
                    }

                    li {
                         font-size: 13px;
                    }
               }

          }
     }
}

