#services-section {
     z-index: 0;
     background-color: transparent;
     padding: var(--g100);

     > * {
          position: relative;
     }

     img {
          position: fixed;
     }

     .tag {
          color: #D8C8C5;
          margin-top: 3px;
     }

     .heading {
          font-variation-settings: 'wght' 640;
          color: white;
          font-size: 15px;
          max-width: 414px;
          line-height: 1.4;
     }

     .block {
          background-image: repeating-linear-gradient(
               90deg,
               rgba(255, 255, 255, 0.8) 0px,
               rgba(255, 255, 255, 0.8) 6px,
               transparent 6px,
               transparent 9px
          );
          background-size: 100% 1px;
          background-repeat: no-repeat;
          background-position: top;
          padding-top: var(--g24);

          .head {
               color: #E6D9D6;
               font-size: 15px;
          }

          .wrap {
               width: 414px;
          }

          ul {
               p {
                    font-variation-settings: 'wght' 500;
                    color: #E6D9D6;
                    font-size: 12.5px;
                    margin-bottom: 4px;
               }

               li {
                   font-size: 13px; 
                   color: white;
                   font-variation-settings: 'wght' 600;
               }
          }

          .second {
               width: 141px;
          }
     }
}

/*  */

:root {
     --t900: #030303;
     --t292929: #292929;
     --t6B6B6B: #6B6B6B;
     --t424242: #424242;
     --t7E7E7E: #7E7E7E;
     --t919191: #919191;
}

.g152 {
     gap: var(--g152);
}

h2 {
     font-family: 'Suisse';
     color: var(--t900);
     font-size: 17px;
     line-height: 1.25;
}

.g44 {
     gap: var(--g44);
}

main,
section {
     background-color: white;
     position: relative;
     z-index: 3;
}

.g60 {
     gap: var(--g60);
}

.g24 {
     gap: var(--g24);
}