

/* ============================================================
   FONT
============================================================ */

@font-face {
  font-family: 'Jetbrains';
  src: url('assets/public/fonts/JetBrains.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('assets/public/fonts/Switzer.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* ============================================================
     RESET
============================================================ */

*,
*::before,
*::after {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     line-height: 1;
     font-family: 'Switzer';
}

html,
body {
     height: 100%;
}

body {
     background-color: white;
     font-optical-sizing: auto;
     font-kerning: normal;
     font-synthesis: none;
     font-variant-ligatures: common-ligatures;
     font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
}

/* ============================================================
     ELEMENTS
============================================================ */

a {
     text-decoration: none;
}

button {
     background-color: transparent;
     border: none;
     cursor: pointer;
}
