/* ============================================================
   FONTS
============================================================ */

@font-face {
	font-family: 'Jetbrains';
	src: url('assets/public/fonts/JetBrains.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geist';
	src: url('assets/public/fonts/Geist.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

/* ============================================================
   VARIABLES
============================================================ */

:root {
	--c-h: calc((100% - 1210px) / 2);
	--c-v: 132px;
	--c: var(--c-v) var(--c-h);

	--gmultiplier: 1;
	--g100: round(calc(100px * var(--gmultiplier)), 1px);

	--t9: #080808;
	--t8: #212121;
	--t7: #383838;
	--t6: #4A4A4A;
	--t5: #5E5E5E;
	--t4: #707070;
	--t3: #8A8A8A;
	--t2: #999999;
	--t1: #A8A8A8;

	--fill-black: #0A0A0A;
}

/* ============================================================
   RESET & BASE
============================================================ */

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
     letter-spacing: -.002em;
	line-height: 1;
	font-family: 'Geist';
}

body {
	background-color: white;
	font-optical-sizing: auto;
	font-kerning: normal;
	max-width: 100vw;
	overflow-x: hidden;
	font-synthesis: none;
	font-variant-ligatures: common-ligatures;
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

video,
img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

main,
section {
	background-color: white;
	position: relative;
	z-index: 3;
}

ul {
	list-style: none;
}


/* ============================================================
   TRANSITIONS
============================================================ */

input,
input::placeholder,
a,
a::before,
button,
.cu {
	transition: all 230ms ease;
}

/* ============================================================
   TRANSITIONS
============================================================ */

.c   { padding: var(--c); }
.c-h {
     padding-right: var(--c-h) !important;
     padding-left: var(--c-h) !important;
}
.c-v {
     padding-top: var(--c-v) !important;
     padding-bottom: var(--c-v) !important;
}

/* ============================================================
   ABOUT SECTION
============================================================ */

#ab-sec {
     .t {
          margin-top: 3px;
          white-space: nowrap;
     }

     .autw {
          display: grid;
		grid-template-columns: min-content min-content;
		column-gap: var(--g28);

          img {
			grid-column: 1 / 3;
			width: 100%;
			filter: blur(4px);
			opacity: .6;
			border-radius: 1px;
			transition-duration: .4s;
               margin-top: var(--g36);
		}

          img.revealed {
			filter: blur(0);
			opacity: 1;
		}

		p,
		span {
			font-size: 15px;
			font-variation-settings: 'wght' 640;
			line-height: 1.5;
			transition-duration: .32s;
			white-space: nowrap;
		}

		span {
			transition: inherit;
		}

		.reveal-text-dark,
		.reveal-text-grey {
			color: #E6E6E6;
			filter: blur(2px);
		}

		.reveal-text-dark.revealed {
			filter: blur(0px);
			color: var(--t9);
		}

		.reveal-text-grey.revealed {
			filter: blur(0px);
			color: var(--t4);
		}
     }
}

/*  */

.t {
     font-size: 12px;
     color: var(--t1);
}

.t,
.j {
     font-family: 'Jetbrains';
     letter-spacing: -.005em;
     font-variation-settings: 'wght' 520;
}

.im-w {
     overflow: hidden;
     position: relative;
     grid-column: 1 / 3;
}

:root {
	--g100: round(calc(100px * var(--gmultiplier)), 1px);
	--g36: round(calc(36px * var(--gmultiplier)), 1px);
	--g32: round(calc(32px * var(--gmultiplier)), 1px);
	--g28: round(calc(28px * var(--gmultiplier)), 1px);
	--g24: round(calc(24px * var(--gmultiplier)), 1px);
	--g20: round(calc(20px * var(--gmultiplier)), 1px);
	--g16: round(calc(16px * var(--gmultiplier)), 1px);
	--g14: round(calc(14px * var(--gmultiplier)), 1px);
	--g8: round(calc(8px * var(--gmultiplier)), 1px);
	--g6: round(calc(6px * var(--gmultiplier)), 1px);
}

h2, .h2 {
     font-size: 17.5px;
     font-variation-settings: 'wght' 680;
     color: var(--t9);
     line-height: 1.3;
}

.g32 {
     gap: var(--g32);
}

.f-r {
     display: flex;
     align-items: center;
}

.j-c {
     justify-content: center;
}

.a1 {
     align-items: flex-start;
     justify-content: space-between;
}

.be-mo {
     display: none;
}

/* ============================================================
   NO BREAKPOINT
============================================================ */

/* ============================================================
   NO BREAKPOINT
============================================================ */



@media (max-width: 1340px) {
     :root {
          --c-h: 8%;
          --c-v: 122px;

          --gmultiplier: .93;
     }

     h2, .h2 {
          font-size: 16.5px;
     }

     .t {
          font-size: 11.5px;
     }

     /* ============================================================
          ABOUT SECTION
     ============================================================ */

     #ab-sec {
          .autw {
               p,
               span {
                    font-size: 14px;
               }
          }

          @media  (max-width: 1130px) {
               .autw {
                    column-gap: var(--g20);
                    
                    p,
                    span {
                         font-size: 13px;
                    }
               }
          }
     }
}


@media (max-width: 1054px) {
     :root {
          --c-h: 7%;
          --c-v: 112px;
     }

     /* ============================================================
          ABOUT SECTION
     ============================================================ */

     #ab-sec {
          gap: var(--g100);
          
          .autw {
               grid-template-columns: 1fr;
               max-width: 550px;

               br {
                    display: none;
               }
               
               img {
                    grid-column: 1 / 2;
               }

               .sec {
                    margin-top: var(--g14);
               }
               p,
               span {
                    font-size: 14px;
                    white-space: wrap;
               }
          }
     }
}


@media (max-width: 860px) {
     :root {
          --c-h: 8%;
          --c-v: 108px;

          --gmultiplier: .85;
     }

     .t {
          font-size: 11px;
     }

     h2, .h2 {
          font-size: 16px;
     }

     /* ============================================================
          ABOUT SECTION
     ============================================================ */

     #ab-sec {
          .autw {
               p,
               span {
                    font-size: 13px;
               }
          }
     }

     @media (max-width: 701px) {
          #ab-sec {
               flex-direction: column;
               gap: var(--g28);
          }
     }
}

@media (max-width: 540px) {
     :root {
          --c-h: 6%;
          --c-v: 100px;
     }

     .t {
          font-size: 10.5px;
     }

     h2, .h2 {
          font-size: 15.5px;
     }

     .be-mo {
          display: block;
     }

     .n-mo {
          display: none;
     }

     /* ============================================================
          ABOUT SECTION
     ============================================================ */

     #ab-sec {
          .autw {
               img {
                    aspect-ratio: 55 / 36;
               }

               p,
               span {
                    font-size: 13px;
               }
          }
     }
}