/* ============================================================
   FONTS
============================================================ */

@font-face {
	font-family: 'Inter';
	src: url('assets/public/fonts/Inter.woff2') format('woff2');
	font-weight: 450 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jetbrains';
	src: url('assets/public/fonts/JetBrains.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suisse';
	src: url('assets/public/fonts/SuisseIntl.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* ============================================================
   VARIABLES
============================================================ */

:root {
	/* Layout */
	--container-h: calc((100% - 1190px) / 2);
	--container-v: 135px;
	--container: var(--container-v) var(--container-h);

	/* Spacing */
	
     --gmultiplier: 1;
     --g180: round(calc(180px * var(--gmultiplier)), 1px);
     --g160: round(calc(160px * var(--gmultiplier)), 1px);
     --g140: round(calc(140px * var(--gmultiplier)), 1px);
     --g120: round(calc(120px * var(--gmultiplier)), 1px);
     --g100: round(calc(100px * var(--gmultiplier)), 1px);
     --g80:  round(calc(80px  * var(--gmultiplier)), 1px);
     --g72:  round(calc(72px  * var(--gmultiplier)), 1px);
     --g60:  round(calc(60px  * var(--gmultiplier)), 1px);
     --g52:  round(calc(52px  * var(--gmultiplier)), 1px);
     --g40:  round(calc(40px  * var(--gmultiplier)), 1px);
     --g36:  round(calc(36px  * var(--gmultiplier)), 1px);
     --g32:  round(calc(32px  * var(--gmultiplier)), 1px);
     --g28:  round(calc(28px  * var(--gmultiplier)), 1px);
     --g26:  round(calc(26px  * var(--gmultiplier)), 1px);
     --g24:  round(calc(24px  * var(--gmultiplier)), 1px);
     --g22:  round(calc(22px  * var(--gmultiplier)), 1px);
     --g18:  round(calc(18px  * var(--gmultiplier)), 1px);
     --g16:  round(calc(16px  * var(--gmultiplier)), 1px);
     --g14:  round(calc(14px  * var(--gmultiplier)), 1px);
     --g12:  round(calc(12px  * var(--gmultiplier)), 1px);
     --g10:  round(calc(10px  * var(--gmultiplier)), 1px);
     --g8:   round(calc(8px   * var(--gmultiplier)), 1px);
     --g6:   round(calc(6px   * var(--gmultiplier)), 1px);
     --g4:   round(calc(4px   * var(--gmultiplier)), 1px);

	/* Colors */

     --t900: #030303;
     --t6E6E6E: #6E6E6E;
     --tA3A3A3: #A3A3A3;

}

/*  */

.portrait-below {
     display: none;
}

:root {
     --fill-black: #080808;
}

.f-r {
     display: flex;
     align-items: center;
}

.j-c {
     justify-content: center;
}

.full-span {
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: 'Inter';
}

body {
	background-color: white;
	font-optical-sizing: auto;
	font-kerning: normal;
	font-synthesis: none;
	font-variant-ligatures: common-ligatures;
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/*  */

/*  */

.g160 {
     gap: var(--g160);
}
main,
nav,
section {
     z-index: 10;
     background-color: white;
     position: relative;
}

.g12 {
     gap: var(--g12);
}

.j-s-b {
     justify-content: space-between;
}



.g22 {
     gap: var(--g22);
}

.jetbrains {
     text-transform: uppercase;
}

.suisse {
     font-family: 'suisse';
}

.g16 {
     gap: var(--g16);
}

.f-c {
     display: flex;
     flex-direction: column;
}

.a-c {
     align-items: center;
}

.container {
     padding: var(--container);
}

.tag,
.jetbrains {
     font-family: 'Jetbrains';
     font-variation-settings: 'wght' 600;
     letter-spacing: -.02em;
}

.tag {
     color: var(--tA3A3A3);
     font-size: 12px;
     font-variation-settings: 'wght' 550;
}

.container-h {
     padding-right: var(--container-h) !important;
     padding-left: var(--container-h) !important;
}

img {
     object-fit: cover;
     object-position: center;
}

.container-v {
     padding-top: var(--container-v) !important;
     padding-bottom: var(--container-v) !important;
}

.a-f-s {
     align-items: flex-start;
}

.g140 {
     gap: var(--g140);
}

.g60 {
     gap: var(--g60);
}

.f-w {
     width: 100%;
}

.mobile-below {
     display: none;
}

a,
.tra {
	transition: all 280ms cubic-bezier(0.22, 1, 0.36, 1);
}

html.lenis,
html.lenis body {
     height: auto;
}

.lenis.lenis-smooth {
     scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
     overscroll-behavior: contain;
}

.lenis.lenis-stopped {
     overflow: hidden;
}

/*  */

@media (max-width: 1350px) {
    :root {
          /* Layout */
          --container-h: 7%;
          --container-v: 125px;

          /* Spacing */
          
          --gmultiplier: .94;
    }

    .tag {
          font-size: 11.5px;
     }
}

@media (max-width: 1028px) {
     :root {
          /* Layout */
          --container-h: 8%;
          --container-v: 115px;

    }
}

@media (max-width: 720px) {
     :root {
          /* Layout */
          --container-h: 7%;
          --container-v: 105px;
    }

    .no-portrait {
          display: none !important;
    }

    .portrait-below {
          display: block !important;
     }
}

@media (max-width: 490px) {
     :root {
          /* Layout */
          --container-v: 100px;
    }

    .tag {
          font-size: 11px;
     }

     .no-mobile {
          display: none !important;
    }

    
}